*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile {
    display: none;
}
.ham {
    display: none;
}
.dropdown_content {
    display: none;
}



/* --------------- Header ---------------- */

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */

    padding: 30px;
    max-width: 1440px;
}

.desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.dropdown {
    display: flex;
}